{% verbatim %}
<script id='head' type='text/x-jsrender'><li e-data='{{:openid}}' class="">
<img class="left" src="{{:head}}/30" width="30" height="30" alt="{{:nick}}"/><span>{{:nick}}({{:name}})</span>
</li></script>
{% endverbatim %}