{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <title>{% block title %} Raspberry Pi by django {% endblock %}</title>

    <!-- Bootstrap -->
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <!-- link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" -->
    {% block css %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Brand</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          {% if is_login %}
          <li><a href="#">{{ name }}</a></li>
          {% else %}
          <li><a href="weibo/api/auth/login">登陆</a></li>
          {% endif %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Edit</a></li>
              <li><a href="#">Settings</a></li>
              <li class="divider"></li>
              <li><a href="/weibo/signout">Exit</a></li>
            </ul>
          </li>
        </ul>
    </div>
      </div>
    </nav>
    <div class="container theme-showcase">
      <div class="jumbotron">
        <h1>Welcome to the pi6x!</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
      </div>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script -->
    <script type="text/javascript" src="{% static 'js/jsviews.min.js' %}" ></script>
    <!-- script src="{% static 'js/global.js' %}"></script -->
    {% block js %}{% endblock %}
  </body>
</html>
