{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">14</span>
        Cpu温度
      </li>
			<li class="list-group-item">
				<a href="http://weibo.com/u/1902435213?s=6uyXnP" target="_blank"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/1902435213/ddeb23bd/1.png"/></a>
			</li>
		</ul>
  </div>
</div>
{% endblock %}
