{% extends "base.html" %}
{% load staticfiles %}
{% block title %}攒钱吧解约{% endblock %}
{% block css %}
<link href="{% static 'css/zqbunump.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="zqb-box input-group">
  <input type="text" class="form-control" placeholder="请输入手机号">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">解约</button>
  </span>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/zqbunump.js' %}"></script>
{% endblock %}