{% verbatim %}
<script id='head' type='text/x-jsrender'><li e-data='{{:uid}}' class="">
<img class="left" src="{{:profile_image_url}}" width="30" height="30" alt="{{:nick}}"/><span>{{:screen_name}}({{:name}})</span>
</li></script>
{% endverbatim %}
