{% verbatim %}
<script id='tomcat_item' type='text/x-jsrender'>
<tr>
  <td>ctm</td>
  <td>10.100.142.51</td>
  <td>8080</td>
  <td><span style=" color: red;" class="glyphicon glyphicon-remove"></span></td>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default">删除</button>
      <button type="button" class="btn btn-default">刷新</button>
      <button type="button" class="btn btn-default">修改</button>
    </div>
  </td>
</tr>
</script>
{% endverbatim %}
