{% extends "base.html"%}
{% block title %}Search By Solr{% endblock %}
{% block content %}
<div class="row">
  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Tech by Solr</h3>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="row" style="height:10px;"></div>
<div class="row">
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
{% endblock %}
